{% extends "shop/base.html" %}

{% block title %}My order{% endblock %}

{% block content %}
    <h1>My Order</h1>
    <table class="cart">
        <thead>
            <tr>
                <th>Detail</th>
                <th>Order No.</th>
                <th>Paid</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for order, order_item in order_lists %}
                <tr>
                    <td>
                        <a href=#>
                        Items
                        </a>
                    </td>
                    <td>{{ order.id }}</td>
                    <td>{{ order.paid }}</td>
                    <td>{{ order.created }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}